@page
@model InventoryModel
<h1>@ViewData["Title"]</h1>
<!--

Todo: 
Add inventory
    -Pop up window to add another inventory
Minus inventory - the selected inventory

-->
<button id="drAdd">Add Delivery Receipt</button>
<dialog id="drWindow">
    <h2>Delivery Receipt <button id="drClose">Close</button></h2>
    <table class="inventory-table">
        <form method="post" asp-page="Inventory">
            <label for="item">Item Name</label><br>
            <input type="text" id="item" asp-for="Item"><br>

            <label for="description">Description</label><br>
            <textarea asp-for="Description" rows="1" cols="50"></textarea><br>

            <label for="supplier">Supplier Name</label><br>
            <input type="text" id="supplier" asp-for="Supplier"><br>

            <label for="quantity">Quantity</label><br>
            <input type="number" id="quantity" asp-for="Quantity"><br>

            <label for="price">Price</label><br>
            <input type="number" step="0.01" id="price" asp-for="Price"><br>

            <label for="location">Location</label><br>
            <input type="text" id="location" asp-for="Location"><br>

            <label for="dr">Delivery Receipt</label><br>
            <input type="number" id="dr" asp-for="DeliveryReceipt"><br>

            <button type="submit">Add to Inventory</button>
        </form>
    </table>
</dialog>
<button id="ivAdd">Add In Voice</button>
<dialog id="ivWindow">
    <h2>In Voice <button id="ivClose">Close</button></h2>
    <table class="inventory-table">
        <form method="post" asp-page="Inventory">

            <label for="item">Item Name</label><br>
            <input type="text" id="item" asp-for="Item"><br>

            <label for="description">Description</label><br>
            <textarea asp-for="Description" rows="1" cols="50"></textarea><br>

            <label for="supplier">Supplier Name</label><br>
            <input type="text" id="supplier" asp-for="Supplier"><br>

            <label for="quantity">Quantity</label><br>
            <input type="number" id="quantity" asp-for="Quantity"><br>

            <label for="price">Price</label><br>
            <input type="number" step="0.01" id="price" asp-for="Price"><br>

            <label for="location">Location</label><br>
            <input type="text" id="location" asp-for="Location"><br>

            <label for="iv">In Voice</label><br>
            <input type="number" id="iv" asp-for="InVoice"><br>

        <button type="submit">Add to Inventory</button>
        </form>
    </table>
</dialog>
<script>
    const drAdd = document.getElementById("drAdd"), drClose = document.getElementById("drClose"), drWindow = document.getElementById("drWindow");
    const ivAdd = document.getElementById("ivAdd"), ivClose = document.getElementById("ivClose"), ivWindow = document.getElementById("ivWindow");

    drAdd.addEventListener("click", () => {
        drWindow.showModal();
    });
    drClose.addEventListener("click", () => {
        drWindow.close();
        });

    ivAdd.addEventListener("click", () => {
        ivWindow.showModal();
    });
    ivClose.addEventListener("click", () => {
        ivWindow.close();
        });
</script>

<table class="inventory-table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Supplier</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Location</th>
            <th>dr</th>
            <th>iv</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventory)
        {
            <tr>
                <td>@item.Item</td>
                <td>@item.Description</td>
                <td>@item.Supplier</td>
                <td>@item.Quantity</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Location</td>
                <td>@item.DeliveryReceipt</td>
                <td>@item.InVoice</td>
            </tr>
        }
    </tbody>
</table>

